.logo-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
    padding: 0;
    border: 0;
}

.aura-logo-svg {
	width: 273px;
	height: auto;
	display: block;
}

.aura-logo {
	height: 40px;
	width: auto;
	vertical-align: middle;
}

.navbar {
	margin-top: 0px;
	background-color: #000;
	padding: 24px 40px;
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
}

.navbar a {
	font-family: monospace;
	color: #fff;
	text-decoration: none;
	font-size: 1.35rem;
	font-weight: 500;
}

.hero-area {
	background-color: #000;
}
body {
  margin: 0;
}
body {
  margin: 0;
}
header {
	height: 0%;
}
